@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


:root {
  --gray: rgb(27, 27, 27);
  --background-1: #187795;
  --background-2: #83eefe;
  --bg-color: #83eefe;
  --bg-image: url(fig/sky.jpg);
}

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@keyframes background-pan {
  from {
      background-position: 0% center;
  }
  to {
      background-position: -200% center;
  }
}

body {
  animation: background-pan 10s linear infinite;
    background: linear-gradient(
        to right,
        var(--background-2),
        var(--background-1),
        var(--background-2)
    );
  background-attachment: fixed;
  overflow: hidden;
  background-size: 200%;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

h1 {
  font-family: "Raleway", cursive;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 0px whitesmoke;
}

h2 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 800;
  font-size: 1.2em;
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
}

#pr_body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  gap: 7vh;
}

.box {
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: space-around;
  border-radius: 15px;
  background-color: whitesmoke;
  width: 40vw;
  height: fit-content;
}

.box:nth-of-type(1) {
  flex-direction: column;
  align-items: center;
  width: 30vw;
}

select {
  padding: 7px;
  width: 75px;
  text-align: center;
  color: black;
  border-radius: 5px;
  appearance: none;
  border: none;
  outline: none;
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: 700;
  font-family: "Open sans", sans-serif;
  font-size: 1em;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

select:hover {
  background-color: var(--gray);
  transition: background-color 0.5s, color 0.5s;
  cursor: pointer;
  color: white;
}

.color_pick {
  background-color: rgba(253, 206, 224, 0);
  border: none;
  height: 40px;
  margin: 0 5px;
  border-radius: 20px;
}

.color_hid {
  width: 0px;
  height: 0px;
  border: none;
  visibility: hidden;
}

#all_colors {
  margin: 0;
}

#all-colors-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

label {
  font-family: "Open sans", sans-serif;
  font-size: 0.75em;
  font-style: italic;
}

#sub_button {
  font-family: "Open sans", sans-serif;
  font-variant: small-caps;
  text-transform: lowercase;
  font-size: 1em;
  font-weight: bold;
  border: none;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 75px;
  height: 35px;
  transition: background-color 0.5s, color 0.5s;
}

#sub_button:hover {
  background-color: var(--gray);
  transition: background-color 0.5s, color 0.5s;
  cursor: pointer;
  color: white;
}

.colors {
  position: relative;
}

.color_right {
  height: 20px;
  width: 20px;
  position: absolute;
}

.color_right:nth-child(1) {
  background-color: rgb(85, 205, 252);
  left: 155px;
  top: 105px;
}

.color_right:nth-child(2) {
  background-color: rgb(247, 168, 184);
  left: 183px;
  top: 40px;
}

.color_right:nth-child(3) {
  background-color: rgb(255, 255, 255);
  left: 180px;
  top: 20px;
}

.color_right:nth-child(4) {
  background-color: rgb(247, 168, 184);
  left: 160px;
  top: 20px;
}

.color_right:nth-child(5) {
  background-color: rgb(85, 205, 252);
  left: 120px;
  top: 25px;
}

.color_left {
  height: 20px;
  width: 20px;
  position: absolute;
}

.color_left:nth-child(1) {
  background-color: rgb(255, 33, 140);
  left: 30px;
  top: 105px;
}

.color_left:nth-child(2) {
  background-color: rgb(255, 33, 140);
  left: 2px;
  top: 40px;
}

.color_left:nth-child(3) {
  background-color: rgb(255, 216, 0);
  left: 7px;
  top: 20px;
}

.color_left:nth-child(4) {
  background-color: rgb(33, 177, 255);
  left: 22px;
  top: 20px;
}

.color_left:nth-child(5) {
  background-color: rgb(33, 177, 255);
  left: 60px;
  top: 25px;
}

.hand {
  position: relative;
}

footer {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
}

footer p {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: italic;
  margin: 0;
  margin-bottom: 10px;
  font-size: 0.75em;
  color: var(--gray);
  opacity: 75%;
}

a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-style: italic;
  color: black;
}

a:hover {
  text-shadow: 1px 1px 0px white;
}

@media screen and (max-device-width: 480px),
  (min-width: 768px) and (max-width: 1024px) {
  #pr_body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    height: 70vh;
  }

  .box {
    width: 90vw;
    min-width: 90vw;
    gap: 2vh;
    padding: 1vh;
  }

  h1 {
    font-size: 8vw;
  }

  h2 {
    font-size: 4vw;
  }

  select {
    font-size: 4vw;
    width: 25vw;
    background-color: white;
  }

  select:hover {
    transition: none;
    background-color: white;
    color: black;
  }

  .color_pick {
    height: 10vw;
    width: 15vw;
  }

  label {
    font-size: 2em;
  }

  input {
    height: 3vw;
    width: 3vw;
    margin: 0;
  }

  #sub_button {
    font-size: 4vw;
    width: 25vw;
    height: 10vw;
    border-radius: 10px;
    background-color: white;
  }

  img {
    height: 40vw;
  }

  .colors {
    height: 40vw;
    width: 40vw;
  }

  .color_right {
    height: 30px;
    width: 30px;
    position: absolute;
  }

  .color_right:nth-child(1) {
    background-color: rgb(85, 205, 252);
    left: 245px;
    top: 40px;
  }

  .color_right:nth-child(2) {
    background-color: rgb(247, 168, 184);
    left: 316px;
    top: 40px;
  }

  .color_right:nth-child(3) {
    background-color: rgb(255, 255, 255);
    left: 350px;
    top: 40px;
  }

  .color_right:nth-child(4) {
    background-color: rgb(247, 168, 184);
    left: 363px;
    top: 80px;
  }

  .color_right:nth-child(5) {
    background-color: rgb(85, 205, 252);
    left: 300px;
    top: 200px;
    width: 50px;
    height: 50px;
  }

  .color_left {
    height: 30px;
    width: 30px;
    position: absolute;
  }

  .color_left:nth-child(1) {
    background-color: rgb(255, 33, 140);
    left: 45px;
    top: 200px;
    width: 50px;
    height: 50px;
  }

  .color_left:nth-child(2) {
    background-color: rgb(255, 33, 140);
    left: 2px;
    top: 80px;
  }

  .color_left:nth-child(3) {
    background-color: rgb(255, 216, 0);
    left: 13px;
    top: 40px;
  }

  .color_left:nth-child(4) {
    background-color: rgb(33, 177, 255);
    left: 48px;
    top: 40px;
  }

  .color_left:nth-child(5) {
    background-color: rgb(33, 177, 255);
    left: 118px;
    top: 40px;
  }

  footer p {
    font-size: 2vw;
  }
}
